// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
//@import 'variables-darkly';
//@import 'variables-flatly';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css';
//DataTables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
//Chosen
@import '~chosen-js/chosen.css';
//Fontawesome 5
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

footer.footer {
    background-color: $gray-300;
    //border-top: 1px solid $secondary;
    padding: 1rem;
    margin-top: 1rem
}

.badge-left_wing {
    background: $green;
    color: $light;
}

.badge-right_wing {
    background: $cyan;
    color: $light;
}

.badge-center {
    background: $red;
    color: $light;
}

.badge-defender {
    background: $teal;
    color: $light;
}

.badge-goalie {
    background: $purple;
    color: $light;
}

#topPoints.dataTable tbody td:nth-child(8),
#topGoals.dataTable tbody td:nth-child(6),
#topAssists.dataTable tbody td:nth-child(7),
#goalies.dataTable tbody td:nth-child(11) {
    background-color: $green !important;
    /*color: white !important;*/
}

///*
// * Flex Layout Specifics
//*/
//main {
//    display: flex;
//    flex-direction: row;
//}
//
//.round {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    width: 250px;
//    list-style: none;
//    padding: 0;
//}
//
//.round .spacer {
//    flex-grow: 1;
//}
//
//.round .spacer:first-child,
//.round .spacer:last-child {
//    flex-grow: .5;
//}
//
//.round .game-spacer {
//    flex-grow: 1;
//}
//
//li.game {
//    padding-left: 20px;
//}
//
//li.game.winner {
//    font-weight: bold;
//}
//
//li.game span {
//    float: right;
//    margin-right: 5px;
//}
//
//li.game-top {
//    border-bottom: 1px solid #aaa;
//}
//
//li.game-spacer {
//    border-right: 1px solid #aaa;
//    min-height: 40px;
//}
//
//li.game-bottom {
//    border-top: 1px solid #aaa;
//}

.bracket {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 0;
}
.bracket .round {
    display: inline-block;
    vertical-align: middle;
}
.bracket .round .winners > div {
    display: inline-block;
    vertical-align: middle;
}
.bracket .round .winners > div.matchups .matchup:last-child {
    margin-bottom: 0 !important;
}
.bracket .round .winners > div.matchups .matchup .participants {
    border-radius: 0.25rem;
    overflow: hidden;
}
.bracket .round .winners > div.matchups .matchup .participants .participant {
    box-sizing: border-box;
    color: #858585;
    border-left: 0.25rem solid #858585;
    background: white;
    width: 14rem;
    height: 3rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.bracket .round .winners > div.matchups .matchup .participants .participant.winner {
    color: #60c645;
    border-color: #60c645;
}
.bracket .round .winners > div.matchups .matchup .participants .participant.loser {
    color: #dc563f;
    border-color: #dc563f;
}
.bracket .round .winners > div.matchups .matchup .participants .participant:not(:last-child) {
    border-bottom: thin solid #f0f2f2;
}
.bracket .round .winners > div.matchups .matchup .participants .participant span {
    margin: 0 1.25rem;
    line-height: 3;
    font-size: 1rem;
    font-family: "Roboto Slab";
}
.bracket .round .winners > div.connector.filled .line, .bracket .round .winners > div.connector.filled.bottom .merger:after, .bracket .round .winners > div.connector.filled.top .merger:before {
    border-color: #60c645;
}
.bracket .round .winners > div.connector .line, .bracket .round .winners > div.connector .merger {
    box-sizing: border-box;
    width: 2rem;
    display: inline-block;
    vertical-align: top;
}
.bracket .round .winners > div.connector .line {
    border-bottom: thin solid #c0c0c8;
    height: 4rem;
}
.bracket .round .winners > div.connector .merger {
    position: relative;
    height: 8rem;
}
.bracket .round .winners > div.connector .merger:before, .bracket .round .winners > div.connector .merger:after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border: 0 solid;
    border-color: #c0c0c8;
}
.bracket .round .winners > div.connector .merger:before {
    border-right-width: thin;
    border-top-width: thin;
}
.bracket .round .winners > div.connector .merger:after {
    border-right-width: thin;
    border-bottom-width: thin;
}
//.bracket .round.quarterfinals .winners:not(:last-child) {
//    margin-bottom: 2rem;
//}
//.bracket .round.quarterfinals .winners .matchups .matchup:not(:last-child) {
//    margin-bottom: 2rem;
//}
.bracket .round.semifinals .winners .matchups .matchup:not(:last-child) {
    margin-bottom: 10rem;
}
.bracket .round.semifinals .winners .connector .merger {
    height: 16rem;
}
.bracket .round.semifinals .winners .connector .line {
    height: 8rem;
}
.bracket .round.finals .winners .connector .merger {
    height: 3rem;
}
.bracket .round.finals .winners .connector .line {
    height: 1.5rem;
}
