// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
//@import 'variables-darkly';
//@import 'variables-flatly';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css';
//DataTables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
//Chosen
@import '~chosen-js/chosen.css';
//Fontawesome 5
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

footer.footer {
  background-color: $gray-300;
  //border-top: 1px solid $secondary;
  padding: 1rem;
  margin-top: 1rem
}
